<div class="footer">
  <div class="footer-links container">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fa fa-heart"></i>  for Le Wagon
  </div>
</div>
