<div class="container">
<h1>Cocktails</h1>


<% @cocktails.each do |cocktail| %>
  <%= link_to cocktail.name, cocktail_path(cocktail) %>
    <%= link_to edit_cocktail_path(cocktail), class: "icon" do %>
  <i class="fas fa-edit"></i>

  <%= link_to cocktail_path(cocktail),
    method: :delete,
    data: {confirm: "Are you sure?"}, class: "icon" do %>
  <i class="fas fa-trash-alt"></i>
  <% end %>

  <br>
  <% end %>
<% end %>

<hr>
<br>
<%= link_to "add a new cocktail", new_cocktail_path %>
</div>
